body {
  position: relative;
}

.card {
  margin-left: 7%;
  margin-right: 7%;
  border: none;
  margin-bottom: 200px;
}

.aboutMe {
  margin-left: 7%;
  margin-right: 7%;
  width: auto;
}

.blockquote {
  margin-left: 7%;
  margin-right: 7%;
}

/*.hero {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}*/

.hero {
  background-image: url("../images/computer-500.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  min-height: 500px;
  position: relative;
}

.heroOverlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.floatText {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #d95d5a;
}

.logo {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 26px;
  margin: 0px 8px;
}

/*.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}*/

.myName {
  color: white;
  font-family: "Caveat", cursive;
  font-size: 79px;
}

.myTitle {
  color: white;
  font-family: "Caveat", cursive;
  font-size: 109px;
  font-weight: bold;
}

.textHero {
  color: white;
  font-family: "Roboto", sans-serif;
}

.hero p {
  color: white;
}

.heading {
  color: #d95d5a;
  text-align: left;
  margin: 80px 7%;
}

.heading h2 {
  font-size: 26pt;
}

.card-title {
  color: #d95d5a;
  font-size: 16pt;
}

.card-body {
  font-family: "Roboto", sans-serif;
}
/*                        I'm working on this                       */
.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
}

.myImage {
  background-image: url("../images/my-picture.png");
  height: 280px;
  width: 280px;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  border-radius: 150px;
}

.aboutMe {
  color: white;
  background-color: #5d99e8;
  font-family: "Roboto", sans-serif;
}

#contactMe {
  margin-left: 7%;
  margin-right: 7%;
}

.rowContactMe {
  margin: 0px auto;
}

/*.myButton {
  color: #ffffff;
  background-color: #d95d5a;
  height: 44px;
  width: 146px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
}*/

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/

/*@include media-breakpoint-up(sm) {
    .myTitle {
        display: none;
    }
}*/
/*.melp img {
  width: 192px;
  height: 290px;
}

.melp {
  display: block;
  text-align: center;
}*/

@media only screen and (max-width: 575.98px) {
  .myName {
    font-size: 42px;
  }

  .myImage img {
    width: 100%;
  }
}

.floatText {
  /*
    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
    padding-bottom: 100px;
  }
  to {
    opacity: 1;
    padding-bottom: 0px;
  }
}

/*
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

*/

/*.btn:link {
  display: inline-block;
  background-color: #d95d5a;
  height: 44px;
  width: 146px;
  border-radius: 20px;
  border: none;*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #d95d5a;
  border-radius: 20px;
  border: none;
  color: white;
}

.btn:hover {
  background-color: #ff9500;
}
