

.card {
    margin-left: 7%;
    margin-right: 7%;
}

.contactMe {
    margin-left: 7%;
    margin-right: 7%;
    width: auto;
}

.blockquote {
    margin-left: 7%;
    margin-right: 7%;
}

.hero {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #D95D5A;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.myName {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 79px;
    
}

.myTitle {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 109px;
    font-weight: bold;
}

.textHero {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.hero p {
    color: white;
}

.hero {
    text-align: center;
}

.heading {
    color: #D95D5A;
    text-align: left;
    margin: 56px 7%;
}

.heading h2 {
    font-size: 26pt;
}



.card-title {
    color: #D95D5A;
    font-size:  16pt;
}

.card-body {
    font-family: 'Roboto',sans-serif;
}

.myImage {
  margin-bottom:16px;
}

.contactMe {
    color: white;
    background-color: #5D99E8;
    font-family: 'Roboto', sans-serif;
}

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/

/*@include media-breakpoint-up(sm) {
    .myTitle {
        display: none;
    }
}*/

@media only screen and (max-width: 575.98px) {
    .myName {
        font-size: 42px;
    }
}

